/* Scoped styles using CSS Modules */
.edit-wallet-form body {
    background-color: #FFEBEE;
}

.py-3{
    background-color: #82bafa;
}
.edit-wallet-form .card {
    width: 400px;
    background-color: #FFEBEE;
    border: none;
    border-radius: 12px;
}

.edit-wallet-form .card-title {
    /* Your styles for the card title go here */
}

.edit-wallet-form .form-control {
    margin-top: 10px;
    height: 48px;
    border: 2px solid #eee;
    border-radius: 10px;
}

.edit-wallet-form .form-control:focus {
    box-shadow: none;
    border: 2px solid #039BE5;
}

.edit-wallet-form .agree-text {
    font-size: 12px;
}

.edit-wallet-form .confirm-button {
    height: 50px;
    border-radius: 10px;
}
