<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login & Registration Form</title>
        <!---Custom CSS File--->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="container">
            <input type="checkbox" id="check">
            <div class="login form">
                <header>Login</header>
                <form  method="post" action="{% url 'login' %}">{% csrf_token %}
                    <input type="email" placeholder="Enter your email" name="email">
                    <input type="password" placeholder="Enter your password" name="password">
                    <a href="#">Forgot password?</a>
                    <input type="submit" class="button" value="Login">
                </form>
                <div class="signup">
                    <span class="signup">Don't have an account?<a href="{% url 'register'%}">Signup</a>{% csrf_token %}
                        <form>
                        </form>
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>
